<!-- Sidebar  -->
<nav id="sidebar">
    <div class="sidebar-header">
        <h3><span class="fa fa-graduation-cap"></span> Hikari Learning</h3>
    </div>

    <ul class="list-unstyled components">
        <p><span class="fa fa-graduation-cap"></span> Hikari Learning</p>
        <li >
            <a href="/hikari">Home</a>
        </li>
        <li>
            <a href="#pageSubmenuSA" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Exercise</a>
            <ul class="collapse list-unstyled" id="pageSubmenuSA">
                <li>
                    <a href="hikari/standar-exercise">Standard Exercise</a>
                </li>
                <li>
                    <a href="/hikari">Advanced Exercise</a>
                </li>
            </ul>
        </li>
<!--        <li>-->
<!--            <a href="#pageSubmenuQ" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Question Answer Management</a>-->
<!--            <ul class="collapse list-unstyled" id="pageSubmenuQ">-->
<!--                <li>-->
<!--                    <a href="/question">All Question Answer</a>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <a href="/create-question">Create Question Answer</a>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </li>-->
<!--        <li>-->
<!--            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Answer Management</a>-->
<!--            <ul class="collapse list-unstyled" id="pageSubmenu">-->
<!--                <li>-->
<!--                    <a href="/answer">All Answer</a>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <a href="/create-answer">Create Answer</a>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </li>-->
<!--        <li>-->
<!--            <a href="#pageSubmenuQM" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Question Management</a>-->
<!--            <ul class="collapse list-unstyled" id="pageSubmenuQM">-->
<!--                <li>-->
<!--                    <a href="/question-master">All Question</a>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <a href="/create-question-master">Create Question</a>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </li>-->
<!--        <li>-->
<!--            <a href="#pageSubmenuQT" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Question Type Management</a>-->
<!--            <ul class="collapse list-unstyled" id="pageSubmenuQT">-->
<!--                <li>-->
<!--                    <a href="/question-type">All Question Type</a>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <a href="/create-question-type">Create Question Type</a>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </li>-->
<!--        <li>-->
<!--            <a href="#pageSubmenuQL" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Question Level Management</a>-->
<!--            <ul class="collapse list-unstyled" id="pageSubmenuQL">-->
<!--                <li>-->
<!--                    <a href="/question-level">All Question Level</a>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <a href="/create-question-level">Create Question Level</a>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </li>-->
    </ul>
</nav>