<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
<script src="question_type_main.js"></script>

<h1>Question Types Management</h1> <br>
<form name="frm">
<div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="questionType">Question Type:</label>
                <input type="text" class="form-control" id="questionType" name="questionType">
            </div>
        </div>
</div>
</form>
<button id="btnSave" class="btn btn-primary" onclick="save()">Save</button>
<script>

</script>