<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
<script src="question_level_main.js"></script>

<h1>Question Level Management</h1> <br>
<form name="frm">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="questionLevel">Question Level:</label>
                <input type="text" class="form-control" id="questionLevel" name="questionLevel">
            </div>
        </div>
    </div>
</form>
<button id="btnSave" class="btn btn-info" onclick="save()">Save</button>