<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
<script src="question_type_main.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>



<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form name="frm">
                <input type="hidden" id="id" name="id" value="test">
                <div class="modal-body" id="modal_question_type">

                </div>
            </form>
            <div class="modal-footer">
                <button class="btn btn-info" onclick="update()">Save</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
</div>

<h1>Question Type Management</h1> <br>

<div class="row">
    <div class="col-md-12">
        <button class="btn btn-info" id="btnCreate"><span class="fa fa-plus"></span> Create</button>
    </div>
</div><br>

<div class="row">
    <div class="col-md-12">
        <div id="question_type"></div>
    </div>
</div>

<script>
    selectAllQuestionType();
     $('#btnCreate').click(function(){
        window.location = "http://localhost:8089/create-question-type";
    });
</script>