<!-- Sidebar  -->
<nav id="sidebar">
    <div class="sidebar-header">
        <h3>E - LEARNING</h3>
    </div>

    <ul class="list-unstyled components">
        <p>E - Learning</p>
        <li >
            <a href="/">Home</a>
        </li>
        <li>
            <a href="#pageSubmenuQ" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Question Answer Management</a>
            <ul class="collapse list-unstyled" id="pageSubmenuQ">
                <li>
                    <a href="/question">All Question Answer</a>
                </li>
                <li>
                    <a href="/create-question">Create Question Answer</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Answer Management</a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
                <li>
                    <a href="/answer">All Answer</a>
                </li>
                <li>
                    <a href="/create-answer">Create Answer</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#pageSubmenuQM" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Question Management</a>
            <ul class="collapse list-unstyled" id="pageSubmenuQM">
                <li>
                    <a href="/question-master">All Question</a>
                </li>
                <li>
                    <a href="/create-question-master">Create Question</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#pageSubmenuQT" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Question Type Management</a>
            <ul class="collapse list-unstyled" id="pageSubmenuQT">
                <li>
                    <a href="/question-type">All Question Type</a>
                </li>
                <li>
                    <a href="/create-question-type">Create Question Type</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>