<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
<script src="summary_main.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form name="frm">
                <input type="hidden" id="id" name="id" value="test">
                <div class="modal-body" id="modal-answer">

                </div>
            </form>
            <div class="modal-footer">
                <button class="btn btn-info" onclick="update()">Save</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
</div>

<h1>Summary Standard Exercise</h1> <br>

<div class="row">
<!--    <div class="col-md-5">-->
<!--        <button class="btn btn-info" id="btnCreate"><span class="fa fa-plus"></span> Create</button>-->
<!--    </div>-->
<!--    <div class="col-md-3">-->
<!--        <div class="input-group mb-3">-->
<!--            <div class="input-group-append">-->
<!--                <button class="btn btn-info" type="button" onclick="selectAnswerByQuestion()">Search</button>-->
<!--            </div>-->
<!--            <input type="text" class="form-control" placeholder="Question ID"  id="search">-->
<!--        </div>-->

<!--    </div>-->
</div><br>

<div class="row">
    <div class="col-md-12">
        <div id="summary"></div>
    </div>
</div>

<script>
    selectAllSummary();
</script>